:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;   
    --grisClaro: #DFE9F3;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after{
    box-sizing: inherit;
}
@font-face{
    font-family: Agustina-Signature;
    src: url(../css/Agustina-Signature.otf);
}
body{
    margin: 0;
}
h1{
    font-size: 2rem;
    font-family: Agustina-Signature;
    color:#FFFFFF;
    font-weight: lighter;
}
h2{
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    color: var(--oscuro);
    text-align: center;
    margin-top: 0;
}
p{
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    color: var(--gris);
    text-align:justify;
}
span{
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.presentacion , .experiencia, .educacion, .proyectos{
    padding-bottom: 3rem;
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
    border-bottom: .2rem solid black;
}
.presentacion{
    padding-top: 8rem;
}
.fab, .fas{
    color: black;
    background-color: transparent;
}
.fa-bars{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 2.5rem;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    height: 8rem;
    align-items: center;
}
.burger_button{
    border: none;
    background-color: transparent;
}
.menu{
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem
}
.contenedor {
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
}
.proyectos__bloques{
    margin: 4rem auto;
    text-align: center;
    width: 28rem;
    height: 40rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    box-shadow: 1px 1px 35px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: 1px 1px 35px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 1px 1px 35px -1px rgba(0,0,0,0.34);
    border-radius: 76px 76px 76px 76px;
    -webkit-border-radius: 76px 76px 76px 76px;
    -moz-border-radius: 76px 76px 76px 76px;
    border: 4px solid rgb(70, 69, 69);
}
.proyectos__bloques img{
    margin-top: 2rem;
}
.proyectos__bloques p{
    margin: 1rem 2rem auto 2rem;
}
.tecnologias{
    display: flex;
    justify-content:space-evenly;
    padding-left: 0;
    height: 5rem;
    margin: 10%;
}
.educacion__parrafo{
    text-align: center;
}
.imagen{
    text-align: center;
}
img{
    width: 20rem;
    height: 20rem;
    background-color:transparent;
}
.udemy img, .platzi img{
    width: 15rem;
    height: 15rem;
}
ul{
    text-decoration: none;

}
li p{
    margin: 0;
    text-align: left;
}
.correo{
    text-align: center;
}
.parrafo{
    text-align: center;
}
.contacto{
    text-align: center;
    margin-bottom: 5rem;
}
.contactos{
    display: flex;
    justify-content:space-evenly;
    margin: 5rem 0;
}
.texto{
    margin-top: 5rem;
}
div ul li{
    margin-bottom: 3rem;
}
.overlay {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .overlay_open { /* JS */
    left: 0;
  }
  .mobile_sidebar {
    background: white;
    position: fixed;
    top: 0;
    right: -200%;
    bottom: 0;
    z-index: 2;
    width: 250px;
    
    overflow: auto;
    transition: right .5s;
  }
  
  .sidebar_open { /* JS */
    right: 0;
  }
  .sidebar_menu{
      list-style: none;
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
  }
  .sidebar_menu-item{
      margin-top: 7rem;
      
  }
  .sidebar-text{
    color: var(--oscuro);
    
}


@media (min-width: 768px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 3.5rem;
    }
    .todos{
        display: flex;
    }
    .presentacion{
        margin-left: 3rem;
        padding-top: 12rem;
    }
    .experiencia{
        padding-top: 12rem;
        margin-right: 3rem;
    }
    .correo{
        font-size: 4rem;
        margin: 7rem 0; 
        text-align: center;
    }
    .proyectos__varios{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .educacion-animacion{
        width: 50%;
    }
    .cursos{
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }
    .udemy{
        width: 50%;
    }
    .platzi{
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .todos{
        display: inline;
    }
    .presentacion, .experiencia, .contacto{
        display: flex;
        gap: 2rem;
        margin: 0 auto ;
    }
    .presentacion__texto{
        width: 50%;
    }
    .presentacion__animacion{
        width: 50%;
    }
    .experiencia__texto{
        width: 50%;
        order: 1;
    }
    .experiencia__animacion{
        width: 50%;
        flex-flow: wrap-reverse;
    }
    .contacto__texto{
        width: 50%;
    }
    .cursos{
        gap: 5rem;
    }
}
@media (min-width: 1440px) {
    .contenedor{
        min-width: 10%;
        width: 35%;
        margin: 0 auto;
    }
    .educacion{
        margin: 0;
    }
    .presentacion , .experiencia, .educacion, .contacto, .proyectos{
        max-width: 1000rem;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        padding: 10rem 0;
    }
    .presentacion{
        padding-top: 24rem;
    }
    .contactos{
        margin-top: 10rem;
    }
    .proyectos__varios{
        gap: 10rem;
    }
    .cursos{
        gap: 10rem;
    }
}